html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -93px;
}

.wrapper:after {
	content: "";
	display: block;
	height: 93px;
}

input {
	height: 15px !important;
}

input.span7 {
	width: 440px;
}

label span.label-details {
	font-size: 13px;
}

select {
	height: 40px;
	font-size: 20px;
}

span.select-suffix {
	margin-left: 10px;
}

div.inline-checks {
	margin-top: 12px;
	height: 45px;
}
div.inline-checks input,
div.inline-checks label {
	float: left;
}
div.inline-checks input {
	margin-left: 40px;
	margin-top: 7px;
}
div.inline-checks label {
	margin-top: 5px;
	margin-left: 7px;
}