html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -93px;
}

.wrapper:after {
	content: "";
	display: block;
	height: 93px;
}

/* Info View */
	
div.info {
/*	width: 1000px;
	margin: auto;*/
	padding: 80px 0 85px 0;
}

div.info header.banner {
	background: url(/img/become-student.jpg) no-repeat top center fixed;
	background-position: 50% 80px;
	height: 360px;
	background-color: #fafafa;
}

div.info header.banner div.header-container {
	padding-top: 50px;
}

div.info-body {
	width: 1000px;
	margin: auto;
	padding-top: 20px;
}
	

/* Application View */

input {
	height: 15px !important;
}

input.span7 {
	width: 440px;
}

textarea.span12 {
	width: 1000px;
}

label span.label-details {
	font-size: 13px;
}

select {
	height: 40px;
	font-size: 20px;
}

span.select-suffix {
	margin-left: 10px;
}

div.inline-checks {
	margin-top: 12px;
	height: 45px;
}
div.inline-checks input,
div.inline-checks label {
	float: left;
}
div.inline-checks input {
	margin-left: 40px;
	margin-top: 7px;
}
div.inline-checks label {
	margin-top: 5px;
	margin-left: 7px;
}


select.day {
	width: 54px;
	font-size: 15px;
}

select.month {
	width: 67px;
	font-size: 15px;
}

select.year {
	width: 70px;
	font-size: 15px;
}

legend.main {
	margin-bottom: 0;
}

legend.sub {
	color: black;
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
}