<div class="application-form">
    <div class="application-form-container application-form-base">
        <div class="row">
            <div class="span6">
                <fieldset>
                    <legend>Personal Information</legend>

                    <div class="form-row">
                        <div class="row">
                            <div class="span3 form-split">
                                <label kvm-error="error.first_name">First Name</label>
                                <input type="text" ng-model="apply.first_name" kvm-error="error.first_name">
                            </div>

                            <div class="span3 form-split">
                                <label kvm-error="error.last_name">Last Name</label>
                                <input type="text" ng-model="apply.last_name" kvm-error="error.last_name">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="row">
                            <div class="span3 form-split">
                                <label kvm-error="error.birthday">Date of Birth</label>
                                <select class="day" ng-options="day for day in days" ng-model="apply.birth_day" kvm-error="error.birthday"></select>
                                <select class="month" ng-options="month.id as month.name for month in months" ng-model="apply.birth_month" kvm-error="error.birthday"></select>
                                <select class="year" ng-options="year for year in years" ng-model="apply.birth_year" kvm-error="error.birthday"></select>
                            </div>

                            <div class="span3 form-split">
                                <label kvm-error="error.gender">Gender</label>
                                <select ng-options="gender for gender in genders" ng-model="apply.gender" kvm-error="error.gender"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.father">Father's name</label>
                        <input type="text" class="span7" ng-model="apply.father" kvm-error="error.father">
                    </div>

                    <div class="form-row">
                        <div class="row">
                            <div class="span3 form-split">
                                <label kvm-error="error.email">Email</label>
                                <input type="text" ng-model="apply.email" kvm-error="error.email">
                            </div>

                            <div class="span3 form-split">
                                <label kvm-error="error.mobile">Mobile</label>
                                <input type="text" ng-model="apply.mobile" kvm-error="error.mobile">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.present_address">Present Address</label>
                        <input type="text" class="span7" ng-model="apply.present_address" kvm-error="error.present_address">
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.permanent_address">Permanent Address <span class="label-details">(Leave blank if the same as above)</span></label>
                        <input type="text" class="span7" ng-model="apply.permanent_address" kvm-error="error.permanent_address">
                    </div>

                </fieldset>
            </div>

            <div class="span6 offset1">
                <fieldset>
                    <legend>Financial Information</legend>

                    <div class="form-row">
                        <label kvm-error="error.parents_income">Parents' Annual Income</label>
                        <select class="span4" ng-options="opt.id as opt.string for opt in incomeOptions" ng-model="apply.parents_income" kvm-error="error.parents_income"></select>
                        <span class="select-suffix">Per Annum</span>
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.mother_job">Mother's Current Job</label>
                        <input type="text" class="span7" ng-model="apply.mother_job" kvm-error="error.mother_job">
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.father_job">Father's Current Job</label>
                        <input type="text" class="span7" ng-model="apply.father_job" kvm-error="error.father_job">
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.occupation">Current Job</label>
                        <input type="text" class="span7" ng-model="apply.occupation" kvm-error="error.occupation">
                    </div>

                    <div class="form-row">
                        <label  kvm-error="error.income">Personal Annual Income</label>
                        <select class="span4" ng-options="opt.id as opt.string for opt in incomeOptions" ng-model="apply.income" kvm-error="error.income"></select>
                        <span class="select-suffix">Per Annum</span>
                    </div>

                </fieldset>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="span6">
                <fieldset>
                    <legend class="text-center main">Educational Information</legend>
                        
                    <div class="form-row">
                        <label kvm-error="error.is_graduated">Graduation Status</label>
                        
                        <div class="inline-checks">
                            <input type="checkbox" id="grad" ng-model="apply.is_graduated" kvm-error="error.is_graduated">
                            <label for="grad">Already Graduated</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.grad_subject">If already graduated, what subject?</label>
                        <input type="text" class="span7" ng-model="apply.grad_subject" kvm-error="error.grad_subject">
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.current_degree">Currently Studying</label>
                        <select ng-options="degree.id as degree.name for degree in degreeTypes" ng-model="apply.current_degree" kvm-error="error.current_degree" class="span6" ng-change="updateIsNotOther(apply.current_degree)"></select>
                    </div>

                    <div class="form-row">
                        <label kvm-disable="isNotOther" kvm-error="error.current_degree_user">Other</label>
                        <input type="text" class="span7" ng-model="apply.current_degree_user" kvm-error="error.current_degree_user" kvm-disable="isNotOther">
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.current_year">Current Year</label>
                        <select ng-options="year.id as year.name for year in schoolYears" ng-model="apply.current_year" kvm-error="error.current_year" class="span6"></select>
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.current_subjects">Current Subjects</label>
                        <input type="text" class="span7" ng-model="apply.current_subjects" kvm-error="error.current_subjects">
                    </div>

                    <div class="form-row">
                        <label kvm-error="error.institution_name">Name of Your Current Institution, College, or University</label>
                        <input type="text" class="span7" ng-model="apply.institution_name" kvm-error="error.institution_name">
                    </div>

                </fieldset>
            </div>

            <div class="span6 offset1">
                <fieldset>
                    <legend class="text-center">Essay</legend>

                    <label kvm-error="error.essay" class="text-justify">Explain in 300 words or less why we should select you to be a student in the KVM Institute of English instead of the hundreds of other applicants? <span class="label-details">(Tell us why you deserve to be in our school and how you will improve yourself, your family, India and the rest of the world with the education that we give you. Tell us things that set you apart from other applicants and help distinguish you as an individual)</span></label>
                    <textarea rows="24" class="span6" ng-model="apply.essay" kvm-error="error.essay" kvm-word-count="300"></textarea>
                </fieldset>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="span12 long-span12">
                <fieldset>
                    <legend class="text-center">Declaration</legend>
                    <div class="inline-check">
                        <input type="checkbox" id="declaration" ng-model="declared"><label for="declaration">I hereby declare and certify that all the statements made in this application are true and correct to the best of my knowledge and belief.</label>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="there-were-errors" ng-show="error">
            <label>Please review the errors in your application and submit again. Hover over the star (<span class="error-star" tooltip="error information">*</span> ) for more information.</label>
        </div>

        <div class="submit">
            <button class="btn btn-green" ng-click="submitApplication()" ng-disabled="!declared">Submit Application</button>
        </div>

    </div>
</div>